.mobile-section{
    font-size: 16px;
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 20px;
}
.mobile-container{
    text-align: center;
    padding: 20px 0;
}
.app-icons{
    padding: 20px 0;
}
.app-icons img{
    padding: 0 10px;
    cursor: pointer;
}